* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 44px;
    z-index:1;
}

.logo {
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    background-image: url(../images/logo.svg);
    background-size: contain;
    position: absolute;
    float: left;
    left: 5%;
    top: 25%;
}

.button {
	margin: 0 auto;
	display: block;
	width: 18px;
	height: 12px;
	border-radius: 7px;
	cursor: pointer;
    position: absolute;
    float: right;
    right: 10%;
    top: 30%;
}

.button span {
	display: block;
	width: 100%;
	height: 2px;
	background: #060A24;
	margin-top:3px;
}

label {
    cursor: pointer;
}

#menu-toggle {
    display: none; /* hide the checkbox */
}

#menu {
    display: none;
    text-align: right;
    background: white;
    margin-top: 30px;
    padding:10px 0;
    margin-right: 10px;
}
  
#menu li a {
      color: #060A24;
      padding: 10px 0;
      display: inline-block;
      text-decoration: none;
}

#menu-toggle:checked + #menu {
    display: block;
}