* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    box-sizing: border-box;
}

/* body {
    width: 100%;
    height: 100%;
} */

.navbar {
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 44px;
    z-index:1;
}

.logo {
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    background-image: url(../images/logo.svg);
    background-size: contain;
    position: absolute;
    float: left;
    left: 5%;
    top: 25%;
}

.button {
	margin: 0 auto;
	display: block;
	width: 18px;
	height: 16px;
	border-radius: 7px;
	cursor: pointer;
    position: absolute;
    float: right;
    right: 10%;
    top: 30%;
}

i.fas.fa-bars, .fa-times {
    padding: 0;
    margin: 0 auto;
	display: block;
	width: 18px;
	height: 16px;
	border-radius: 7px;
	cursor: pointer;
    position: absolute;
    float: right;
    right: 10%;
    top: 30%;
}

i.fas.fa-times {
    display: none;
    padding: 0;
    margin: 0 auto;
	width: 18px;
	height: 16px;
	border-radius: 7px;
	cursor: pointer;
    position: absolute;
    float: right;
    right: 10%;
    top: 30%;
}

label {
    cursor: pointer;
}

#menu-toggle {
    display: none; /* hide the checkbox */
    /* margin: 0 auto;
	display: block;
	width: 18px;
	height: 16px;
	border-radius: 7px;
	cursor: pointer;
    position: absolute;
    float: right;
    right: 10%;
    top: 30%; */
}

#menu {
    display: none;
    float: right;
    width: 100%;
    text-align: left;
    background: #0000EC;
    margin-top: 44px;
    /* padding: 16px; */
    list-style-type: none;
    /* margin-right: 10px; */
}

#menu li a {
    font-family: 'IBM Plex Mono', monospace;
    color:white;
    /* padding: 10px 0; */
    display: inline-block;
    text-decoration: none;
    padding: 16px;
}

#menu-toggle:checked ~ #menu {
    display: block;
}

#menu-toggle:checked ~ label i.fas.fa-times {
    display: block;
}

#menu-toggle:checked ~ label i.fas.fa-bars {
    display: none;
}

.inicio {
    padding: 20px 20px 60px 20px;
    position: static;
    width: 100%;
    /* height: 330px; */
    top: 54px;
}

.inicio h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 10;
    /* left: 5%; */
    padding-right: 20px;
}

.inicio h1::after {
    content: ".";
    color: #0000EC;
}

.strike {
    text-decoration: line-through;
}

div.invitadas {
    /* padding-top: 50px; */
    position: static;
    top: 54px;
    /* height: 1600px; */
    width: 100%;
    display: grid;
}

h2.invitadas {
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    font-weight: 10;
    padding-left: 16px;
    padding-bottom: 36px;
    /* padding-top: 54px; */
}

p {
    position: static;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    /* top: 16px; */
    margin-top: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

.p-mobile {
    position: static;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    /* top: 16px; */
    margin-top: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

.p-desktop {
    display: none;
}

.conocemas {
    position: static;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 36px;
    margin-bottom: 20px;
    /* padding: 20px; */
    /* position: static; */
    /* top: 36px; */
}

.conocemas:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
}

.angulo {
    width: 100%;
    top: 50px;
    transform: skewY(-6deg);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: static;
}

div.episodios {
    /* margin: 0.2% 3.4%; */
    transform: skewY(6deg);
    position: static;
    /* top: 20px; */
    /* height: 1700px; */
    width: 100%;
    /* background-image: linear-gradient(-186deg, rgba(255,255,255,1) 5%, rgba(0,0,255,1) 5%, rgba(0,0,163,1) 97%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%); */
    padding: 11px;
    display: grid;
}

h2.episodios {
    font-weight: normal;
    font-size: 36px;
    color: white;
    padding: 30px 16px 10px;
    transform: skewY(6deg);
}

.spotify {
    border: 0;
    width: 100%;
    margin-bottom: 11px;
    height: 232px;
}

.spotify-last {
    margin-bottom: 144px;
}

img.phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 360px;
    position: static;
    align-self: center;
    transform: translateY(-60px);
}

.venimos {
    padding: 0px 20px 0px 20px;
    position: static;
    width: 100%;
    /* height: 500px; */
    /* top: 54px; */
    display: grid;
}

.venimos-desktop h2 {
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    font-weight: 10;
    padding: 0px;
}

div.temas {
    /* top: 100px; */
    position: static;
    /* height: 950px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.temas div {
    display: flex;
    flex-direction: column;
}

h2.temas {
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    font-weight: 10;
    padding-left: 16px;
    padding-top: 48px;
}

h3 {
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    padding: 0px 10px;
}

div.novedades {
    margin-top: 42px;
    position: static;
    top: 130px;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    padding-bottom: 20px;
    clip-path: polygon( 0% 15%, 100% 0%, 100% 100%, 0% 100% );
}

div.novedades h2 {
    font-weight: normal;
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 64px 16px 5px 16px;
}

.footer {
    position: static;
    top: 130px;
    /* padding-top: 10px; */
    width: 100%;
    /* height: 121px; */
    text-align: center;
}

i {
    padding: 16px;
}

img.invitadas {
    width: 100%;
}

img.temas {
    padding-top: 45px;
    padding-bottom: 13px;
}

/** Version escritorio **/

@media screen and (min-width:1025px) {
    .navbar {
        position: sticky;
        top: 0px;
        width: 100%;
        height: 80px;
    }

    .logo {
        left: 6.9%;
        height: 36px;
        width: 36px;
    }

    #menu {
        /* position: absolute; */
        display: inline-flex;
        padding: 0 6.9% 0 0;
        margin: 0;
        /* right: 6.9%; */
        width: 80%;
        height: 100%;
        align-self: center;
        background-color: white;
        text-align: right;
        justify-content: flex-end;
    }

    #menu li a {
        display: inline-flex;
        /* margin-left: 48px;
        line-height: 28px; */
        color:#060A24;
        float: right;
        padding: 24px;
        margin-top: 5px;
    }

    #menu li a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    #menu li a:active {
        color: rgba(6,10,36,0.56);
        text-decoration: line-through;
    }

    i.fas.fa-bars, .fa-times {
        display: none;
    }

    .inicio {
        top: 120px;
        padding-left: 13.9%;
    }

    .inicio h1 {
        font-size: 64px;
    }

    .angulo {
        top: 120px;
    }

    .p-mobile {
        display: none;
    }

    .p-desktop {
        position: static;
        font-family: 'IBM Plex Mono', monospace;
        margin-top: 16px;
        letter-spacing: 0;
        line-height: 22px;
        display: block;
        font-size: 16px;
        width: 628px;
    }

    .angulo {
        padding-top: 50px;
        padding-bottom: 130px;
    }

    div.episodios {
        padding-left: 6.9%;
        /* float: left; */
        display: flex;
        /* justify-content: space-around; */
        flex-wrap: wrap;
        /* align-content: space-between; */
    }

    h2.episodios {
        transform: skewY(6deg);
        padding-left: 13.9%;
        padding-top: 4.8%;
        font-size: 48px;
        color: white;
        font-weight: normal;
    }

    .spotify {
        margin: 2.5% 5% 2.5% 0%;
        width: 40.6%;
        float: left;
    }

    img.invitadas {
        width: 33.33333%;
        float: left;
    }

    div.venimos {
        padding-left: 13.9%;
        display: flex;
    }

    .venimos-desktop {
        padding-top: 150px;
        padding-left: 4.3%;
        padding-right: 17.8%;
    }

    .venimos-desktop h2 {
        font-size: 48px;
    }

    img.phone {
        margin: 0px;
        width: 100%;
        max-width: 457px;
        position: static;
        /* align-self: center; */
    }

    h2.invitadas {
        margin-top: 1.6%;
        padding-left: 13.9%;
        font-size: 48px;
    }

    div.invitadas {
        display: flex;
        flex-wrap: wrap;
    }

    h2.temas {
        /* margin-top: 120px; */
        padding-left: 13.9%;
        font-size: 48px;
    }

    div.temas {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    div.temas div {
        display: flex;
        width: 20%;
        flex-direction: column;
        padding: 2.8%;
    }

    div.novedades {
        margin: 0px;
        padding: 5.4%;
    }

    .footer {
        position: static;
        display: flex;
        justify-content: space-between;
        padding: 0.9% 6.9%;
    }

}